<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>lets decide</title>
		<link rel="stylesheet" href="assets/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>

		<h3>Dont knwo what to eat or what to dao were here to help </h3>
		<h1>Lets decide!!!</h1>
		
		<hr>
		<br>
		
		{{{ body }}}
		
		<!-- <form class="signIn" action="/" method = "get">
			<label>	Username:</label>
			<input type="text" name="name" id="userName">
			<label>	password:</label>
			<input type="text" name="password" id="userpassword">
			<button>Submit</button>	
		</form> -->


		

	<script src="javascript/APIs.js" type="text/javascript"></script>		
	<script src="javascript/app.js" type="text/javascript"></script>	
	</body>
</html>
