<div class="optionsBody">
	<div id="foodAndFun">	
		<h1> What would you like to do </h1>
		<div id="foodBtn" class="ptions">
			<h3>Food</h3>
		</div>
		<div id="funBtn" class="ptions">
			<h3>Entertainment</h3>
		</div>
	<div>
	<div id="foodOptions">
		<h2>Food</h2>
		<div id="foodDealsBtn">
			<h3>Give me a Deal</h3>
		</div>
		<div id="foodAroundBtn">
			<h3>See whats around</h3>
		</div>
		<div id="foodFateBtn">
			<h3>Let Fate decide</h3>
		</div>
	</div>	
	<div id="funOptions">
		<h2>Entertainment</h2>
		<div id="funDealsBtn">
			<h3>Give me a Deal</h3>
		</div>
		<div id="funAroundBtn">
			<h3>See whats around</h3>
		</div>
		<div id="funFateBtn">
			<h3>Let Fate decide</h3>
		</div>
	</div>	
</div>