<form class="newUser" action="/business" method = "POST">
	<label>	email:</label>
	<input type="text" name="email" class="businessInputs">

	<label>	Business Name:</label>
	<input type="text" name="businessName">

	<label>	password:</label>
	<input type="pssword" name="password" class="businessInputs">

	<label>	Business Description:</label>
	<input type="text" name="description">

	<label>	Photo Link:</label>
	<input type="text" name="photoLink" class="businessInputs">

	<button>Submit</button>	
</form>