	<form class="newUser" action="/business" method = "POST">
			<label>	email:</label>
			<input type="text" name="email" id="bEmail">
			<label>	Business Name:</label>
			<input type="text" name="businessName">
			<label>	password:</label>
			<input type="text" name="password" id="userpassword">
			<label>	Business Description:</label>
			<input type="text" name="description">
			<label>	Photo Link:</label>
			<input type="text" name="photoLink" id="photoLink">
			<button>Submit</button>	
		</form>