		<form class="newUser" action="/user" method = "POST">
			<label>	email:</label>
			<input type="text" name="email" id="email">
			<label>	userName:</label>
			<input type="text" name="userName" id="userName">
			<label>	password:</label>
			<input type="text" name="password" id="userpassword">
			<label>	Photo Link:</label>
			<input type="text" name="photoLink" id="photoLink">
			<button>Submit</button>	
		</form>