<form class="create-update-form" action="/" method = "POST" id="addBurger" style="display: none;">
			<h2><u>Add Burger to list</u></h2>
			
			<div class="form-group">
		    	<label for="ca">Burger Name:</label><br>
		    	<input type="text" id="ca" name="name">
		  	</div> 

		  	<button type="submit" id="add">Add Burger</button>
</form>