/*Color palette form adobe color suite is Midnight Accent*/s

/*Body should fill the whole page*/
body {
*/	background-size: contain;
	z-index: -1;
	position: relative;
	min-height: 100%;
}

/*adding padding for sticky footer*/
.container-fluid {
	padding: 60px 0 0 0;
}

/*===============================================================================
styling the top of the page
===============================================================================
*/
.jumbotron {
	background-image: url('../images/combo.jpg');
	background-position: 0% 9%;
	background-size: cover;
	width: 100%;
	margin-bottom: 10px;
	height: 200px;

}

.navbar {
	background-color: #352F45;
	opacity: 1;
	vertical-align: middle;
}

.main-content {
	padding: 10px;
}
/*===============================================================================
Home page content
===============================================================================
*/
.home-card {
/*	perspective: 300px
*/	height: 300px;
	padding: 20px;
/*	transform-style: preserve-3d;
	transition: .5s ease;*/
}

.nav-card {
	height: 240px;
	width: 340px;
	display: flex;
	margin: 0 auto;

}

.home.front, .home.back	{
	height: 200px;
	width: 300px;
	align-items: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border: none;
}

.home.back {
	display: block;
	background-color: gray;
}


#card-background1 {
	background-image: url('../images/rooftop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#card-background2 {
	background-image: url('../images/drinks.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
}

#card-background3 {
	
	background-image: url('../images/dice.jpg');
	background-size: contain;
	background-repeat: no-repeat;

}

/*===============================================================================
styling page elements
===============================================================================
*/
a {
	color: #fff;
}

a:hover {
	color: #3e879e;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

h1 {
	font-family: 'Lobster', cursive;
	color: #fff;
	font-size: 48px;
	z-index: 1;
	opacity: 1;
	text-align: center;
}

h2 {
	font-family: 'Lobster', cursive;
	color: #57524d;
	font-size: 30px;
	vertical-align: middle;
	z-index: 1;
	opacity: 1;
}

h3 {
	font-family: 'Lobster', cursive;
	color: #352F45;
	text-align: center;
	position: relative;
	font-size: 36px;
	font-weight: bold;
	z-index: 1;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	position: relative;
	font-size: 30px;
	font-weight: bold;
	z-index: 1;
	opacity: 1;
	text-align: center;
	vertical-align: middle;
    text-shadow: 2px 2px #333;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	position: relative;
	font-size: 30px;
	font-weight: bold;
	z-index: 1;
	opacity: 1;
	text-align: center;
    text-shadow: 2px 2px #333;
}

h6 {
	font-family: 'Lobster', cursive;
	color: #fff;
	font-size: 30px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

/*===============================================================================
styling the aboutus
===============================================================================
*/
.aboutus h2 {
	text-align: center;
}

.aboutus ul {
	margin: 0 35%;
}
.aboutus {
	margin: auto 0;
	padding: 40px;
}

/*===============================================================================
styling the sidebar
===============================================================================
*/
.sidebar {
	background-color: #fff;
	border-right: 2px solid #57524d;
	padding: 0 10px;
	margin: 5px 0;
	line-height: 18px;
	min-height: 700px;
	height: 100%;
	color: #57524d;
}

.sidebar-div {
	margin: 5px 0 5px 50px;
	text-align: left;
}

.sidebar-div p {
	margin: 20px 10px 3px -15px;
}
/*===============================================================================
styling the deal results
===============================================================================
*/
.deal-card {
/*	margin: 20px;*/
	padding: 15px 5px;
	border-radius: 15px;
/*	height: 300px;
	height: 400px;*/
	text-align: center;
}

a.deal-card {
	font-size: 24px;
	color: #fff;
}
.deal-card.front {
	background-color: #3e879e;
}
.deal-card.back {
	background-color: #57524d;
}

.deal-card.pending.front {
	background-color: #57524d;
	opacity: .55;
}
p.deal-details {
	font-style: italic;
	color: #fff;
}

p.deal-info {
	color: #fff;
}

/*===============================================================================
styling the search results grid
===============================================================================
*/

.search-result {
	height: 120px;
	border: 2px solid #3e8793;
	border-radius: 5px;
	margin: 5px 10px;
}

.result-image {
	padding: 5px 0 5px 20px;

}

.result h3 {
	font-size: 14px;
}

.result-info {
	margin-top: 5px;
}
.result p, .result-location p {
	font-size: 12px;
	line-height: 14px;
}

.result-review p {
	font-style: italic;
	font-size: 10px;
}


/*===============================================================================
styling the sticky footer
===============================================================================
*/
footer p {
	color: #fff;
	font-size: 12px;
	line-height: 10px;
}

footer {
	text-align: center;
	background-color: #352F45;
	height: 60px;
	padding: 7px;
}